.profile__user-job {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 400px;
}

@media screen and (max-width: 767px) {
    .profile__user-job {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        max-width: 250px;
    }
}