.element__like-button {
    background-image: url(../../../images/like.svg);
    padding: 0;
    border: none;
    background-color: white;
    min-height: 19px;
    min-width: 22px;
    outline: none;
    transition: .2s;
}

.element__like-button:hover {
    opacity: .5;
    cursor: pointer;
}